.pokeball-container {
    display: flex;
    justify-content:baseline;
    gap: -1px; /* Adjust the gap between Pokeballs as needed */
    /* transform: translate(0px, 100px); */

    transform: translate(76%, -160%);
}

.pokeball {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

} 

.centered {
    position: absolute;
    top: 0%;
    left: 64%;
    transform: translate(0%, 0%);
}

.pokeball input[type="radio"] {
    display: none;
}

.pokeball input[type="radio"]:checked + img{
    border: 3px solid #007bff; /* Añade un borde para indicar que está seleccionado */
}

.pokeball img {
    position: relative;
    display: flex;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.pokeball img:hover {
    
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.pokeball-img {
    position: relative;
    display:inline-block;
    cursor: pointer;
}

.hidden { 
    opacity: 0;
    pointer-events: none;
}