/* SECUENCE AS HTML */

body {
    background-image: url(https://images6.alphacoders.com/641/thumb-1920-641430.jpg);
    /* background-size:100% 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;

}

.glass {
    position:relative;
    display: block;
    margin: 0% auto;
    margin-top: 200px;
    /* transform: translate(149%, 30%); */
    width: 90%;
    max-width: 400px;
    height: 600px;
    padding: 20px;

    /* From https://css.glass */
    background: rgba(91, 143, 253, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(91, 143, 253, 0.3);
    text-align: center;
}

#seleccionar-mascota{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 70vh;

    position: relative;
    z-index: 2;

}

#title {
    position: absolute; 
    top: -110px; 
    left:33%;
    transform: translateX(-50%); 
    z-index: 2; 
}
#title img{
    max-width: 250%; /*Ensure the image scales if necessary*/
    height: auto;

}

h1 {
    position: absolute;
    color: #fff;
    width:920%;
    font-weight: 900;
    text-align:center;
    top: 100px;
    left: 70px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


/*----.pokeball properties here*/

input {
    display: none;
}


#seleccionar-mascota img {
    position: relative;
    /* top: 100px */
}


.boton-mascota {
    --color: #4132cf;
    font: family 0;;
    display: inline-block;
    width: 6em;
    height: 1.8em;
    line-height: 0.8em;
    margin: 20px;
    margin-top: 60px;
    margin-left: 400px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 20px;
    border-radius: 6px;
    font-weight: 1000;
    color: var(--color);
    background-color: rgb(211, 214, 23);


    /* transform: translate(145%, -5%); */
}

.boton-mascota::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.boton-mascota:hover{
    color: #fff;
}

.boton-mascota::before{
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

.boton-mascota:hover:before {
    top: -30px;
    left: -30px;
}
  
.boton-mascota:active::before {
    background: #3a0ca3;
    transition: background 0s;
}
  
.boton-mascota:focus {
    outline: none;
}
  
.boton-mascota:active {
    scale: 0.95;
}


.boton-github {
    border: none;
    border-radius: 70%;
    width: 43px;
    height: 45px;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    transform: translate(541%,100%);
    margin-left: -60px;
}

.svgIcon {
    transition-duration: .3s;
}

.svgIcon path {
    fill: rgb(255, 255, 255);
}

.svgIcon2 {
    transition-duration: .3s;
}

.svgIcon2 path {
    fill: rgb(0, 0, 0);
}
  
.svgIcon2 {
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
    /* transform: translate(100%,-20%);  */
}

.boton-github:hover {
    /* width: 110px; */
    transition-duration: .4s;
    border-radius: 30px;
    background-color: #fff;
}
  

  
.boton-github:hover .svgIcon path{
    
    transition-duration: .3s;
    fill: #000000;
}

.boton-github:hover .svgIcon2 {
    opacity: 0;
    transition-duration: .4s;
}

#subtitleMapa {
    margin-left: 40px;
    width: 230px;
    height: 50px;
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    margin-top: 160px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    width: 80px;
    height: 70px;
    border-radius: 20px;
    background-color:rgb(37, 150, 190);
    border: 2px solid rgba(3,49,106,255);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0;
}

#ver-mapa button:active {
    transform: scale(0.95); /* Scale down the button when pressed */
}

#mapa {
    border: 2px solid rgb(0, 44, 56);
    border-radius: 16px;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

#attack-subtitle {
    margin-left: 40px;
    width: 230px;
    height: 50px;
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones-ataque {
    margin-top: 140px;
}

.boton-de-ataque {
    background-color: #4132cf;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
}

#mensajes {
    width: 180px;
    background-color: #fff;
    color: #000000;
    margin-top: 30px;
    border-radius: 10px; 
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#boton-reiniciar {
    border: transparent;
    color:#4132cf;
    cursor: pointer;
    
}

.ataques {
    color: #fff;
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: 350px;
    text-align: center;
}

#vidas-jugador, #vidas-enemigo { 
    font-size: 32px;
    margin-bottom: 0;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    .glass {
        width: 80%;
    }

    h1 {
        font-size: 1.5rem;
        left: 65px;
    }

    .boton-mascota {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .boton-github {
        width: 40px;
        height: 40px;
        margin-top: 100px;
        margin-left: -46px;
    }
}

@media (max-width: 495px) {
    .glass {
        padding: 15px;
    }

    h1 {
        font-size: 1.2rem;
        margin-left: -22px;
    }

    #title {
        left: 50%;
    }

    #title img{
        max-width: 450px;
        height: auto;
    }

    .boton-mascota {
        font-size: 0.8rem;
        padding: 6px 12px;
    }

    .boton-github {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        margin-left: -56px;
    }

    #attack-subtitle {
        margin-left: 15px;
        width: 230px;
        height: 50px;
        color: #fff;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 900;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 440px) {
    h1 {
        font-size: 1rem;
        margin-left: -30px;
    }


    #title {
        left: 50%;
        top: -90px;
    }

    #title img{
        
        max-width: 340px;
        height: auto;
    }

    .boton-mascota {
        font-size: 0.7rem;
        margin-left: 330px;
    }

    #subtitleMapa {
        margin-left: 5px;
        width: 230px;
        height: 50px;
        color: #fff;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 900;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mapa {
        width: 330px;
        border: 2px solid rgb(0, 44, 56);
        border-radius: 16px;
    }

    .boton-github {
        width: 40px;
        height: 40px;
        margin-top: 100px;
        margin-left: -89px;
    }

}

@media (max-width: 360px){

    h1 {
        font-size: 1rem;
        margin-left: -60px;
    }

    #title {
        left: 50%;
        top: -90px;
    }

    #title img{
        
        max-width: 340px;
        height: auto;
    }

    .boton-mascota {
        margin-left: 265px;
    }

    .boton-github {
        width: 40px;
        height: 40px;
        margin-top: 100px;
        margin-left: -112px;
    }

    #attack-subtitle {
        /* transform: translate(0%, 70%); */
        margin-left: -35px;
        width: 230px;
        height: 50px;
        color: #fff;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 900;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
